* {
    margin: 0;
    padding: 0;
}
.blur-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.imageS{
    width: 250px;
    height: 300px;
    object-fit: cover;
}