body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.header {
    text-align: center;
}

.content {
    width: 45%;
    margin: auto;
    padding: 2% 5%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.sbtn {
    font-size: medium;
    color: white;
    padding: 2% 8% 2% 8%;
    background-color: #308824;
    border: none;
    border-radius: 10px;
}

.cbtn {
    font-size: medium;
    color: white;
    padding: 2% 8% 2% 8%;
    background-color: #ff6600;
    border: none;
    border-radius: 10px;
}

.cbtn:hover {
    background: #f49555a9;
}

.sbtn:hover {
    background: #55f45da9;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.repar{
    border: 12px 10px solid;
}
